@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400&');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: "Medical-clinic Icons";
    font-style: normal;
    font-weight: 400;
    src:  url("../font/medical_font.woff") format("woff"),
        url("../font/medical_font.woff2") format("woff2");
    font-display: swap;
}
