.contact .box {
    text-align: center;
}

.contact .title {
    margin-bottom: 20px;
    font: 400 33px var(--font-family__title);
}

.contact .text {
    margin-bottom: 20px;
    font-size: 12px;
}
