.portal {
    background-color: var(--medical-color3);
}

.portal .box {
    padding-block: 0;
}
.portal .title, 
.portal .subtitle {
    margin-bottom: 15px;
    color: var(--medical-color1);
}

.portal .title {
    max-width: 270px;
}

.portal .button {
    margin-bottom: 15px;
}

.portal picture {
    display: grid;
}

.portal img {
    width: 100%;
}
